doctype
html
  head
    title #{title} W3B 0N TH3 R0CK5
   
    meta(charset='utf-8')
    meta(name='description',content='#{description}')
    
    link(rel='shotcut icon',type='image/png', href='/images/icon.png')
    link(rel='stylesheet', href='/css/style.css?v=2')
    link(rel='stylesheet', href='/css/bootstrap.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js')
  body
    header
    div.background
     
    div.row
        div.col-md-1
          a(href="/")
            img.image(src='/images/icon003.png',width='100',style="position:fixed")
        div.col-md-10
             h1.yellow #{title}
             hr
    div.row
      div.col-md-1
      div.col-md-7.content
        block content
      div.col-md-3.content
        block sidebar
    div.row
      div.col-md-12.footer
        span.yellow(style='font-size:20px') 
          a(href="https://github.com/danielribamar" target="_blank") gitHub
        span.yellow(style='font-size:20px') 
          a(href="https://www.linkedin.com/in/daniel-ribamar-martins-323186a7/" target="_blank") linkedIn
        span.yellow(style='font-size:20px') ©_drm#{year}
    script(src="/js/main.js")
       script(src="/js/ga.js")