doctype
html
  head
    title #{title} W3B 0N TH3 R0CK5
   
    meta(charset='utf-8')
    meta(name='description',content='#{description}')
    
    link(rel='shotcut icon',type='image/png', href='/images/icon.png')
    link(rel='stylesheet', href='/css/style.css?v=1')
    link(rel='stylesheet', href='/css/bootstrap.css')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js')
  body
    header
    div.background
     
    div.row
        div.col-md-1
            img.image(src='/images/icon003.png',width='100',style="position:fixed")
        div.col-md-10
             h1.yellow #{title}
             hr
    block content
    
    footer
      p Running on node with Express, Jade and Stylus